@import "./variables";

@mixin mobile {
    @media (max-width: #{$small-devices}){
        @content;
    }
}

@mixin btn-theme($bg-color, $color) {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    background-color: $bg-color;
    color: $color;
    &:hover {
        background-color: #243451;
        transition: all 0.4s;
      }
}
